

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.footer{
	height:30px;
	text-align: center;
	background-color: #222222;
	color: #fff;
}
#map-canvas{
	height: 100%;
}
.myMap{
	padding: 0;
	height: 100%;
}
.mainForm{
	height: 100%;
	margin-bottom: 0;
}
.row {
	height: 100%;
}
#contenido{
	width:100%;
}

#register {
	margin-top:40px;
	text-align: center;
	color:#fff;
	padding:2em ;
	border-radius:1em;
}














